# Environment & Sensitive Files
.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Logs & Output Screenshots
logs/*.log
screenshots/*.png

# Virtual Environment
venv/
ENV/
env/

# Build & Packaging Output
build/
dist/
*.spec

# IDE Settings
.vscode/
.idea/
